<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csas.cz.lockerui">

    <!-- USE_FINGERPRINT is NORMAL Permission => https://developer.android.com/guide/topics/security/normal-permissions.html
        It is granted automatically-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application android:supportsRtl="true">

        <activity
            android:name="cz.csas.lockerui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/LockerUIAppTheme" />

    </application>

</manifest>
